# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
.next/
coverage/

# Production
.env.local
.env.production.local
.env.*.local

# Misc
.DS_Store
.git
.gitignore
.dockerignore
Dockerfile
docker-compose*.yml
README.md
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
